.loader-text {
    @include flexBox(row, center, center);
    
    width: 100%;
    height: 200px;
    margin-top: 20px;
    text-align: center;
    color: #2D9D78;
    background-color: #EAEBEB;
    
    font: {
        style: $unnamed-font-style-normal;
        weight: $unnamed-font-weight-bold;
        size: $unnamed-font-size-24;
        family: $unnamed-font-family-muli;
    }
    line-height: 48px;
}
.product-list-wrapper {
    @include flexBox(column, center, center);
    max-width: 1350px;
    width: 100%;
    margin-top: 32px;

    @include tablet-down {
        @include flexBox(column, space-between, '');
        width: 100%;
        margin-top: 24px;
        margin-bottom: 70px;
    }
    @include tablet {
        @include flexBox(column, space-between, '');
        width: 100%;
        margin-top: 24px;
        margin-bottom: 70px;
    }

    .product-list-toolbar {
        @include flexBox(row, center, center);
        height: 44px;
        width: 100%;

        @include tablet-down {
            @include flexBox(column, '', '');
            width: 100%;
            height: 134px;
        }
        @include tablet {
            @include flexBox(column, '', '');
            width: 100%;
            height: 134px;
        }

        font: {
            style: $unnamed-font-style-normal;
            variant:normal;
            weight: $unnamed-font-weight-normal;
            size: 16px;
            family: $unnamed-font-family-muli;
        }
        line-height: $unnamed-line-spacing-24;
        letter-spacing: $unnamed-character-spacing-0;
        color: $unnamed-color-172026;
        text-align: left;

        .toolbar-section1 {
            width: 30%;

            @include tablet-down {
                width: 100%;
                height: 20px;
                margin-bottom: 32px;
            }
            @include tablet {
                width: 100%;
                height: 20px;
                margin-bottom: 32px;
            }
        }
        .toolbar-section2 {
            @include flexBox(row, space-between, center);
            width: 70%;

            @include tablet-down; @include desktop-down {
                @include flexBox(column-reverse, '', '');
                width: 100%;
            }

            .result-count {
                font-weight: 600;
                line-height: 24px;

                @include tablet-down; @include desktop-down {
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 24px;
                    margin-top: 32px;
                    height: 20px;
                    width: 100%;
                    text-align: center;
                }
            }
            .sort-section {


                @include tablet-down {
                    width: 100%;
                }
                @include tablet {
                    width: 100%;
                }

                .mobile-sort-window {
                    @include tablet-down {
                        @include flexBox(row, center, center);
                        width: calc(100% - 40px);
                        height: 42px;
                        position: absolute;
                        margin-top: 40px;
                    }
                    @include tablet {
                        @include flexBox(row, center, center);
                        width: calc(100% - 40px);
                        height: 42px;
                        position: absolute;
                        margin-top: 40px;
                    }

                    button {
                        display: none;

                        @include tablet-down; @include desktop-down {
                            display: inline-block;
                            margin-left: 5px;
                            border-radius: 6px;
                            border: 1px solid $gray-m1;
                            width: 21%;
                            height: 102%;
                            background-color: #535965;
                            color: #FFFFFF;
                        }
                    }
                }

                #sort-box {
                    width: 200px;
                    height: 40px;
                    background: $white 0% 0% no-repeat padding-box;
                    border: 1px solid $gray-l2;
                    border-radius: 8px;
                    padding: 10px;
                }
                .mobile-filter-menu {
                    display: none;

                    @include tablet-down {
                        @include flexBox(row, space-around, center);
                        height: 20px;
                        width: 100%;

                        li {
                            a {
                                font: {
                                    style: $unnamed-font-style-normal;
                                    variant:normal;
                                    weight: 600;
                                    size: 16px;
                                    family: $unnamed-font-family-muli;
                                }
                                line-height: $unnamed-line-spacing-20;
                                letter-spacing: $unnamed-character-spacing-0;
                                color: $gray-d2;
                            }
                        }

                        .filter-section1 {
                            li {
                                a {
                                    img {
                                        margin-right: 8px;
                                    }
                                }
                            }
                        }
                        .filter-section2 {
                            li {
                                a {
                                    span {
                                        margin-right: 8px;
                                    }
                                }
                            }
                        }
                    }
                    @include tablet {
                        @include flexBox(row, space-around, center);
                        height: 20px;
                        width: 100%;

                        li {
                            a {
                                font: {
                                    style: $unnamed-font-style-normal;
                                    variant:normal;
                                    weight: 600;
                                    size: 16px;
                                    family: $unnamed-font-family-muli;
                                }
                                line-height: $unnamed-line-spacing-20;
                                letter-spacing: $unnamed-character-spacing-0;
                                color: $gray-d2;
                            }
                        }

                        .filter-section1 {
                            li {
                                a {
                                    img {
                                        margin-right: 8px;
                                    }
                                }
                            }
                        }
                        .filter-section2 {
                            li {
                                a {
                                    span {
                                        margin-right: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .product-list-section {
        @include flexBox(row, space-between, '');
        width: 100%;
        max-width: 1440px;
        margin-top: 24px;

        @include tablet-down {
            @include flexBox(row, space-between, '');
            width: 100%;
            margin-top: 0;
        }
        @include tablet {
            @include flexBox(row, space-between, '');
            width: 100%;
            margin-top: 0;
        }

        .product-list-filter {
            width: 28%;
            height: 1445px;

            .filter-header {
                @include tablet-down; @include desktop-down {
                    @include flexBox(row,space-between, center);
                    width: 100%;
                    max-width: 990px;
                }
                button {
                    display: none;

                    @include tablet-down; @include desktop-down {
                        display: block;
                        background-color: $white;
                        border: none;
                        cursor: pointer;
                    }
                }
            }

            @include tablet-down {
                max-width: 952px;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: fixed;
                background-color: #fff;
                padding: 10px 16px;
                z-index: 999;
                overflow-y: scroll;
            }
            @include tablet {
                max-width: 952px;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: fixed;
                background-color: #fff;
                padding: 10px 16px;
                z-index: 999;
                overflow-y: scroll;
            }

            .filter-header, .filter-category,
            .filter-style, .filter-color,
            .filter-brand {
                border-bottom: 1px solid $gray-m1;
                width: 100%;
                min-height: 41px;
                height: auto;
                margin-bottom: 32px;
                font: {
                    style: $unnamed-font-style-normal;
                    variant: normal;
                    weight: $unnamed-font-weight-normal;
                    size: $unnamed-font-size-20;
                    family: $unnamed-font-family-muli;
                }
                line-height: 14px;
                letter-spacing: $unnamed-character-spacing-0;
                color: $gray-d2;
                text-align: left;
            }

            .filter-category, .filter-style, 
            .filter-color,.filter-brand {
                h3 {
                    font: {
                        weight: 600;
                        size: 16px;
                    }
                    line-height: 24px;
                    margin-bottom: 17px;
                }
                ul {
                    li {
                        display: flex;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 22px;

                        input {
                            margin: {
                                left: 0;
                                right: 10px;
                            }
                            width: 20px;
                            height: 17px;
                            background: $white 0% 0% no-repeat padding-box;
                            border: 2px solid $gray-m1;
                            cursor: pointer;
                        }
                    }
                }
            }

            .filter-color {
                .color-box {
                    @include flexBox(row, '', '');
                    flex-wrap: wrap;
                    width: 325px;
                    .color-card {
                        width: 64px;
                        height: 40px;
                        border: 2px solid #DFE1E2;
                        border-radius: 6px;
                        position: relative;
                        margin: {
                            right: 16px;
                            bottom: 16px;
                        }
                    }
                    #black {
                        background: $unnamed-color-172026 0% 0% no-repeat padding-box;
                    }
                    #white {
                        background: $white 0% 0% no-repeat padding-box;
                    }
                    #green {
                        background: #942d9d  0% 0% no-repeat padding-box;
                    }
                    #yellow {
                        background: #e5fd5e  0% 0% no-repeat padding-box;
                    }
                    #blue {
                        background: #1F39FF 0% 0% no-repeat padding-box;
                    }
                    #red {
                        background: #E34850 0% 0% no-repeat padding-box;
                    }
                    #purple {
                        background: #6408D3 0% 0% no-repeat padding-box;
                    }
                    #pink {
                        background: #F9009A 0% 0% no-repeat padding-box;
                    }
                    #saffron {
                        background: #27ebe8 0% 0% no-repeat padding-box;
                    }
                    #gradient {
                        background: transparent linear-gradient(180deg, #AF52FF 0%, #7950E8 16%, #4F5ADA 29%, #57CB76 43%, #EBC250 56%, #FF8810 69%, #E32F0F 83%, #BF1919 100%) 0% 0% no-repeat padding-box;
                    }

                }
            }
        }
        .product-list-display {
            @include flexBox(column,'','');
            max-width: 1033px;
            width: 70%;
            max-height: 1720px;
            height: auto;

            @include tablet-down {
                @include flexBox(column,'','');
                width: 100%;
                max-height: 2200px;
                height: auto;
                margin-bottom: 24px;
            }
            @include tablet {
                @include flexBox(column,'','');
                width: 100%;
                min-height: 2816px;
                height: auto;
            }

            .product-list-box {
                @include flexBox(row,'','');
                flex-wrap: wrap;
                max-height: 2007px;
                height: auto;

                @include tablet-down {
                    @include flexBox(row,space-between,center);
                    flex-wrap: wrap;
                    max-height: none;
                }
                @include tablet {
                    @include flexBox(row,space-between,center);
                    flex-wrap: wrap;
                    max-height: none;
                }

                h1 {
                    width: 100%;
                    font: {
                        size: 28px;
                        weight: $unnamed-font-weight-bold;
                        family: $unnamed-font-family-muli;
                    }
                    color: #1B252C;
                    text-align: center;
                }
                .product-card { 
                    height: 378px;
                    width: calc(30% - 10px);
                    margin: 10px 15px 32px;

                    @include tablet-down {
                        width: calc(50% - 16px);
                        margin-right: 16px;
                        height: auto;
                        margin-bottom: 16px;

                        &:nth-child(2n) {
                            margin-right: 0;
                        }
                    }

                    @include desktop-down {
                        width: calc(50% - 30px);
                        height: auto;
                    }
                    @include tablet {
                        width: calc(50% - 30px);
                        height: auto;
                    }

                    &:nth-child(3n) {
                        margin-right: 0;
                    }

                    .product-image {
                        height: 262px;
                        cursor: pointer;

                        @include tablet-down {
                            height: 196px;
                        }
                        @include tablet {
                            height: 300px;
                        }

                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .product-info {
                        height: 96px;
                        margin-top: 8px;

                        @include tablet-down; @include desktop-down {
                            height: 114px;
                            margin-top: 8px;
                        }

                        font: {
                            style: $unnamed-font-style-normal;
                            variant: normal;
                            weight: 600;
                            size: 16px;
                            family: $unnamed-font-family-muli;
                        }
                        line-height: $unnamed-line-spacing-20;
                        letter-spacing: $unnamed-character-spacing-0;
                        color: $unnamed-color-172026;
                        text-align: left;

                        li:first-child {
                            font: {
                                weight: $unnamed-font-weight-bold;
                                size: 18px;
                            }
                        }

                        li:nth-child(2) {
                            padding-bottom: 17.5px;
                        }

                        li {
                            padding-bottom: 5px;
                            a {
                                width: 24px;
                                height: 20px;
                            }
                        }
                        
                    }
                }
            }
            .pagination-section {
                @include flexBox(row, center, center);
                height: 25px;
                @include tablet-down {
                    padding: 10px;
                }
                @include tablet {
                    padding: 23px 0px;
                    margin-top: 42px;
                }

                &.inactive {
                    display: none;
                }
                ul {
                    padding: 5px 0;
                    margin-right: 10px;
                    li {
                        display: inline;
                        width: 126px;
                        text-align: center;
                        padding-left: 12px;
                        a {
                            text-decoration: none;
                            font: $unnamed-font-style-normal normal $unnamed-font-weight-normal calc($unnamed-font-size-16/$unnamed-line-spacing-24) $unnamed-font-family-muli;
                            letter-spacing: $unnamed-character-spacing-0;
                            color: $unnamed-color-172026;
                            text-align: center;
                        }
                    }
                }
                a {
                    padding-left: 12px;
                    img {
                        width: 6px;
                        height: 12px;
                    }
                }
            }
        }
    }
}
